{"swagger":"2.0","info":{"title":"Default title","description":"","version":"1.0"},"host":"webprocure.proactiscloud.com","basePath":"/wp-contract/public/contract","schemes":["https"],"consumes":[],"produces":[],"paths":{"/{contractId}":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Contract","description":"Contract Details","operationId":"ContractId","parameters":[{"name":"contractId","in":"path","required":true,"type":"string","default":"Contract Identifier"},{"name":"customerId","in":"query","required":true,"type":"string","default":"51","x-ms-visibility":"internal"},{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/json","x-ms-visibility":"internal"},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","x-ms-visibility":"internal"},{"name":"Referer","in":"header","required":true,"type":"string","default":"https://webprocure.proactiscloud.com/wp-web-public/en/","x-ms-visibility":"internal"},{"name":"Host","in":"header","required":true,"type":"string","default":"webprocure.proactiscloud.com","x-ms-visibility":"internal"},{"name":"Connection","in":"header","required":true,"type":"string","default":"keep-alive","x-ms-visibility":"internal"},{"name":"User-Agent","in":"header","required":true,"type":"string","default":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/133.0.0.0 Safari/537.36 Edg/133.0.0.0","x-ms-visibility":"internal"}]}},"/{contractId}/contacts":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Contacts","operationId":"Contacts","parameters":[{"name":"contractId","in":"path","required":true,"type":"string","default":"Contract Identifier"},{"name":"customerId","in":"query","required":true,"type":"string","default":"51","x-ms-visibility":"internal"},{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/json","x-ms-visibility":"internal"},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","x-ms-visibility":"internal"},{"name":"Referer","in":"header","required":true,"type":"string","default":"https://webprocure.proactiscloud.com/wp-web-public/en/","x-ms-visibility":"internal"},{"name":"Host","in":"header","required":true,"type":"string","default":"webprocure.proactiscloud.com","x-ms-visibility":"internal"},{"name":"Connection","in":"header","required":true,"type":"string","default":"keep-alive","x-ms-visibility":"internal"},{"name":"User-Agent","in":"header","required":true,"type":"string","default":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/133.0.0.0 Safari/537.36 Edg/133.0.0.0","x-ms-visibility":"internal"}]}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{},"security":[],"tags":[]}