{"swagger":"2.0","info":{"title":"CT Contract Search","description":"","version":"1.0"},"host":"webprocure.proactiscloud.com","basePath":"/wp-full-text-search/search/contracts","schemes":["https"],"consumes":[],"produces":[],"paths":{"/":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"CT Search","operationId":"Search","parameters":[{"name":"q","in":"query","required":true,"type":"string","default":"*","description":"Contract Query"},{"name":"sort","in":"query","required":false,"type":"string","description":"Pagination From","enum":["sd-a","sd-d","ed-a","ed-d","vn-a","vn-d","t-a","t-d"]},{"name":"from","in":"query","required":false,"type":"string","description":"Pagination From"},{"name":"f","in":"query","required":false,"type":"string","enum":["st=ac|~ac=yes","st=ec|~ec=yes","st=cc|~cc=yes"]},{"name":"customerid","in":"query","required":true,"type":"string","default":"51","x-ms-visibility":"internal"},{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/json","x-ms-visibility":"internal"},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","x-ms-visibility":"internal"},{"name":"Host","in":"header","required":true,"type":"string","default":"webprocure.proactiscloud.com","x-ms-visibility":"internal"},{"name":"Referer","in":"header","required":true,"type":"string","default":"https://webprocure.proactiscloud.com/wp-web-public/en/","x-ms-visibility":"internal"},{"name":"Connection","in":"header","required":true,"type":"string","default":"keep-alive","x-ms-visibility":"internal"},{"name":"User-Agent","in":"header","required":true,"type":"string","default":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/133.0.0.0 Safari/537.36 Edg/133.0.0.0","x-ms-visibility":"internal"}]}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{},"security":[],"tags":[]}